<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;footstep_changer - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/footstep_changer.html#var">Var Details</a></header>
<main>
<h1>footstep_changer <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/footstep_changer.html">footstep_changer</a></aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 2"/></a></h1>

<p>This component changes the footstep sound of whatever turf parent is on</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/footstep_changer.html#var/barefootstep">barefootstep</a></th><td>Bare footstep we should change the turf's barefootstep to</td></tr>
            <tr><th><a href="datum/component/footstep_changer.html#var/connect_loc_behalf">connect_loc_behalf</a></th><td>Connect_loc_behalf component required for this to work</td></tr>
            <tr><th><a href="datum/component/footstep_changer.html#var/footstep">footstep</a></th><td>Sound we should change the turf's footstep to</td></tr>
            <tr><th><a href="datum/component/footstep_changer.html#var/old_barefootstep">old_barefootstep</a></th><td>Old barefootstep sound of the open turf we entered</td></tr>
            <tr><th><a href="datum/component/footstep_changer.html#var/old_footstep">old_footstep</a></th><td>Old footstep sound of the open turf we entered</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/barefootstep"><aside class="declaration">var </aside>barefootstep
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 8"/></a></h3>
        <p>Bare footstep we should change the turf's barefootstep to</p><h3 id="var/connect_loc_behalf"><aside class="declaration">var </aside>connect_loc_behalf
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/connect_loc_behalf.html">connect_loc_behalf</a></aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 14"/></a></h3>
        <p>Connect_loc_behalf component required for this to work</p><h3 id="var/footstep"><aside class="declaration">var </aside>footstep
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 4"/></a></h3>
        <p>Sound we should change the turf's footstep to</p><h3 id="var/old_barefootstep"><aside class="declaration">var </aside>old_barefootstep
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 10"/></a></h3>
        <p>Old barefootstep sound of the open turf we entered</p><h3 id="var/old_footstep"><aside class="declaration">var </aside>old_footstep
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/StarbloomSS13/StarbloomSS13/blob/735106d004478010a90a789c6f92a32fa3f4a2bf/code/datums/components/footstep_changer.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;footstep_changer.dm 6"/></a></h3>
        <p>Old footstep sound of the open turf we entered</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/StarbloomSS13/StarbloomSS13/tree/735106d004478010a90a789c6f92a32fa3f4a2bf">735106d</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
